body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2vw;
}

.contact-info {
    font-size: 5vw;
}

.job {
    list-style-type:none
}

.task {
    list-style-type:circle
}

.task-detail{
    list-style-type:square
}

.work-history {}

.work-history-title {}